[Desktop Entry]
Type=Application
Name=Install ArchLabs
Comment=Installer for ArchLabs
Categories=Utility;
Exec=sudo calamares
Icon=/usr/share/icons/al4.png
